# Vlna 112: dosbox nacte SAVE10.GAM pres CONTINUE a dumpne snimky mapy.
OUTPUT file=trace_frame.txt
SENDKEY cond=cycle_ge:40000000  key=esc
SENDKEY cond=cycle_ge:90000000  key=esc
SENDKEY cond=eip:0x002A56F2     key=c
DUMPFRAME cond=eip:0x00349814 framebuf=0x452044 width=640 height=480 dir=C:/Users/vesely/AppData/Local/Temp/claude/C--prenos-NeuralFin2/7b38921d-7f9b-4f9e-8c96-7717e1af7e9a/scratchpad/dbx_frames
STOP cond=cycle_ge:200000000
