# Vlna 119: HACKY na celou barevnou cestu naraz. DUMPREGS repeat=always dava
# pri Watcom konvenci primo argumenty (eax, edx, ebx, ecx), takze u stavby
# rampy vidim base/top bez dumpovani pameti - a odpada past "DUMPMEM vypali
# jen pri prvnim zasahu EIP".
OUTPUT file=trace_hooks.txt
SENDKEY cond=cycle_ge:40000000  key=esc
SENDKEY cond=cycle_ge:90000000  key=esc
SENDKEY cond=eip:0x002A56F2     key=c

DUMPREGS cond=eip:0x002B25C5 label=8E5C5_stavba_rampy   repeat=always
DUMPREGS cond=eip:0x002B36F8 label=8F6F8_rampa_do_bufu  repeat=always
DUMPREGS cond=eip:0x0029D138 label=79138_rampa_hrace    repeat=always
DUMPREGS cond=eip:0x0029E00A label=7A00A_barva_vlastnik repeat=always
DUMPREGS cond=eip:0x00344BB5 label=120BB5_instalace     repeat=always
DUMPREGS cond=eip:0x002B3DA1 label=8FDA1_text_s_rampou  repeat=always
DUMPREGS cond=eip:0x0034622E label=12222E_vrat_1B61D8   repeat=always

STOP cond=cycle_ge:200000000
